<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-if="!textmodel">Рассказать об этом вашим читателям?</h2>
        <h2 ng-if="textmodel">Цитировать</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        {{item.text}}
        <img ng-src="{{ item.entities.media[0].media_url }}" class="md-card-image" alt="Washed Out">
      </div>
      <div class="md-dialog-content">
        <textarea ng-model="textmodel" ng-style="{'width':'100%'}"></textarea>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer(false)">
        Отменить
      </md-button>
      <md-button ng-click="answer(textmodel)">
        Поделиться
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
