<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{item.user.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        {{item.text}}
        <img ng-src="{{ item.entities.media[0].media_url }}" class="md-card-image" alt="Washed Out">
      </div>
      <div class="md-dialog-content">
        <textarea ng-style="{'width':'100%'}"></textarea>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('not useful')">
        Отменить
      </md-button>
      <md-button ng-click="answer('useful')">
        Поделиться
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
