
div[flex="30"] {

}

section[flex="40"] {

}
section[flex="70"] {

}
section[flex="20"] {

}
section[flex=""] {

}

section {

}

.user-pic {
  border: 2px solid CornflowerBlue;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}
