
div[flex="30"] {
  background-color: #DFDFDF;
}

section[flex="40"] {
  background-color: #D4E5FA;
}
section[flex="70"] {
  background-color: #E8FCD6;
}
section[flex="20"] {
  background-color: #FFD5E3;
}
section[flex=""] {
  background-color: rgba(0, 128, 0, 0.35);
}

.a, section {
  border: 5px solid rgba(85, 97, 85, 0.27);
  margin: 5px;
}
section {
  background-color: #dedede;
}

.user-pic {
  border: 2px solid CornflowerBlue;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}
